<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>I Market - Compre onde estiver</title>
    <link rel="icon" href="imagens/Logos/icon.png">

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="estilo.css" type="text/css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
   <!-- Nav -->
    <nav class="navbar navbar-fixed-top navbar-inverse navbar-transparente " >
      <!-- Nav container -->
      <div class="container">
        <!-- Header -->
          <div class="navbar-header">

            <!--Butão toggle-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-nav">
              <span class="sr-only">alternar navegação</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Logo icon -->
            <a href="index.html" class="navbar-brand">
                <span class="img-logo">IMARKET</span>
              </a>

          </div>
        <!-- Navbar -->
          <div class="collapse navbar-collapse" id="barra-nav">
          <!-- Opcoes -->
            <ul class="nav navbar-nav navbar-right">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">Sobre nós</a></li>
              <li><a href="conteudo.html">Conteudo</a></li>
              <li><a href="carrinho.html">Carrinho</a></li>
              <li class="dropdown"> 
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                            Minha Conta <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-toggle="modal" data-target="#janela-logar"> <a href="#">Entrar</a> </li>
                            <li data-toggle="modal" data-target="#janela-cadastro"> <a href="#">Cadastrar</a> </li>
                        </ul>
              </li>
            </ul>
          <!--Fim Opcoes -->
          </div>
        <!--Fim Navbar -->
      </div>
      <!--Fim container -->
      
    </nav>
    <!--Fim Nav-->

    <!--  Janela Modal Login -->
    <form class="modal fade" id="janela-logar">
                <!-- Modal dialog -->
                <div class="modal-dialog">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <!-- Cabeçalho -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title"> Efetuar Login </h4>
                        </div>
                        <!-- Fim Cabeçalho -->

                        <!-- Corpo -->
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Digite o seu e-mail">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pass" placeholder="Digite a sua senha">
                            </div>
                        </div>
                        <!-- Fim Corpo -->

                        <!-- Rodapé -->
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                            </button>

                            <button type="submit" class="btn btn-primary">
                                Logar
                            </button>

                        </div>
                        <!-- Fim Rodapé -->
                    </div>
                    <!-- Fim Modal content -->
                </div>
                <!-- Fim Modal dialog -->
    </form>
    <!-- Fim Janela -->
    <!--  Janela Modal Login -->
    <form class="modal fade" id="janela-cadastro">
                <!-- Modal dialog -->
                <div class="modal-dialog">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <!-- Cabeçalho -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title"> Cadastre-se </h4>
                        </div>
                        <!-- Fim Cabeçalho -->

                        <!-- Corpo -->
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" id="nome" placeholder="Digite o seu Nome">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="endereco" placeholder="Digite a sua Endereço">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="numero" placeholder="Digite o seu Numero">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Digite a sua Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="passwd" placeholder="Digite a sua senha">
                            </div>
                        </div>
                        <!-- Fim Corpo -->

                        <!-- Rodapé -->
                        <div class="modal-footer">

                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                            </button>

                            <button type="submit" class="btn btn-primary">
                                Cadastrar
                            </button>

                        </div>
                        <!-- Fim Rodapé -->
                    </div>
                    <!-- Fim Modal content -->
                </div>
                <!-- Fim Modal dialog -->
            </form>
            <!-- Fim Janela -->


        <div class="container">
            
            <section class="muitoespaco"> <!-- Thiago -->
                 <div class="container-fluid bg2">
                    <div class="row">

                        <div class="col-md-4">
                        <img src="imagens/perfil/thiagoalexandria.jpg" class="img-circle" width="50%">
                        </div>
                        <div class="col-md-8 bg2">
                            <h3>Thiago Alexandria</h3>
                            <p>Estudante de Ciências da Computação, finjo programar desde o primeiro periodo,
                            amante de novas tecnologias e soluções open source. Atualmente focado em IOT e soluções de monitoramento para empresas.</p>
                            <h4 class="preco">Sobre o projeto:</h4>
                            <p> - Desenvolvedor Frontend; <br> - Material Design.</p>
                        </div>
                        
                    </div>
                    <div class="row espaco">

                        <div class="col-md-4">
                        <img src="imagens/perfil/pedrohenrique.jpg" class="img-circle" width="50%">
                        </div>
                        <div class="col-md-8 bg2">
                            <h3>Pedro Henrique</h3>
                            <p>Estudante de Ciência da Computação, entusiasta quando o assunto é novas tecnologias, programador Java nos dias vagos</p>
                            <h4 class="preco">Sobre o projeto:</h4>
                            <p> - Desenvolvedor Backend. </p>
                        </div>
                        
                    </div>
                    <div class="row espaco">

                        <div class="col-md-4">
                        <img src="imagens/perfil/lissiaoliveira.jpg" class="img-circle" width="50%">
                        </div>
                        <div class="col-md-8 bg2">
                            <h3>Lissia Oliveira</h3>
                            <p>Estudante de Ciência da Computação, amante de tecnologia e suas usabilidade, lutando diariamente para que como mulher consiga mostrar a capacidade de produção diante de uma área predominantemente masculina. Feminista em todos os momentos e não despensa uma boa cerveja e conversa!</p>
                            <h4 class="preco">Sobre o projeto:</h4>
                            <p> - Gerente do Projeto; <br> - Desenvolvedor Backend. </p>
                        </div>
                        
                    </div>
                    <div class="row espaco">

                        <div class="col-md-4">
                        <img src="imagens/perfil/joaoguilherme.jpg" class="img-circle" width="50%">
                        </div>
                        <div class="col-md-8 bg2">
                            <h3>João Guilherme</h3>
                            <p>Estudante de Ciências da Computação, amante de tecnologia open source e mobaile, curto jogos e segurança da informação, tento ser um bom programador e sigo tentando.</p>
                            <h4 class="preco">Sobre o projeto:</h4>
                            <p> - Desenvolvedor Backend. </p>
                        </div>
                        
                    </div>
                </div>
            </section>

            
               

        </div>
        <!-- Container -->

        <footer id="rodape">
          <div class="container">
            <div class="row">
                <!-- Logo -->
                  <p class="text-center text-white">I-Market Logo</p>
            </div>

            <div class="row">
              <p class="text-center text-white">Copyright &copy; I-Market 2018 Todos os direitos reservados.</p>
            </div>
          </div>      
        </footer>   
            


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>